body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#header {
  width: 100%;
  display: inline-flex;
  background-color: #39C958;
}

h2 {
  color: aliceblue;
}

#sections {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#logo {
  width: 170px;
}

#lupa {
  width: 23px;
  margin-right: 5px;
}

#input-search {
  height: 100%;
  margin-right: 20px;
  padding-right: 50px;
}

#search {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border: 10px;
  padding-bottom: 10px;
  padding-top: 8px;
}

/* table, th, td {
  width: 1250px;
  margin: 20px;
  border: 1px solid black;
} */

.link {
  text-decoration:none;
}

#tablee {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
}

td {
  border-right: 1px solid rgb(211, 207, 207);
  border-left: 1px solid rgb(211, 207, 207);
  border-bottom: 1px solid rgb(211, 207, 207);
  padding-right: 50px;
  padding-left: 50px;
  text-align: center;
}

th {
  padding-top: 5px;
  border-right: 1px solid rgb(211, 207, 207);
  border-left: 1px solid rgb(211, 207, 207);
  padding-right: 50px;
  padding-left: 50px;
}

.regiao {
  background-color: rgb(95, 90, 90);
  color: aliceblue;
  text-align: center;
  padding: 5px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.camp {
  background-color: #39C958;
  color: aliceblue;
  text-align: center;
  padding: 5px;
  margin: 0px;
}

#regulament {
  padding: 20px;
}

.title-regulament {
  text-align: center;
}

#form-bilhete {
  text-align: center;
}

#input-bilhete {
  margin-left: 5px;
  margin-right: 5px;
  padding-right: 300px;
}

#mais {
  background-color: rgb(209, 245, 245);
}

@media only screen and (max-width: 800px){
  #header{
    width: 150vw !important;
  }
  #logo {
    height: 100px !important;
    width: 200px !important;
  }
  .link {
    font-size: 130% !important;
  }
  #search {
    height: 35px !important;
    width: 140%;
  }
  #lupa {
    width: 40px;
  }
  #input-search {
    font-size: 130%;
    border: 1px solid black;
  }
  #tablee {
    width: 140%;
    font-size: 130%;
  }
  td {
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
  }
  th {
    border-right: 1px solid rgb(0, 0, 0);
    border-left: 1px solid rgb(0, 0, 0);
  }
  .title-regulament {
    width: 150%;
    font-size: 150%;
  }
  #regulament {
    width: 145%;
    font-size: 160%;
  }
  #form-bilhete {
    width: 150%;
    font-size: 160%;
  }
  #input-bilhete {
    font-size: 100%;
    border: 1px solid black;
  }
  #button-bilhete {
    width: 100px;
    font-size: 90%;
  }
}

@media only screen and (max-width: 606px){
  #header{
    width: 290vw !important;
  }
  #logo {
    height: 150px !important;
    width: 310px !important;
  }
  .link {
    font-size: 200% !important;
  }
  #search {
    height: 70px !important;
    width: 280%;
  }
  #lupa {
    width: 70px;
  }
  #input-search {
    font-size: 200%;
    border: 2px solid black;
  }
  #tablee {
    width: 280%;
    font-size: 270%;
  }
  .title-regulament {
    width: 300%;
    font-size: 250%;
  }
  #regulament {
    width: 280%;
    font-size: 280%;
  }
  #form-bilhete {
    width: 300%;
    font-size: 300%;
  }
  #input-bilhete {
    font-size: 100%;
    border: 1px solid black;
  }
  #button-bilhete {
    width: 200px;
    font-size: 90%;
  }
}

@media only screen and (max-width: 430px){
  #header{
    width: 380vw !important;
  }
  #search {
    width: 360%;
  }
  #input-search {
    font-size: 250%;
  }
  #tablee {
    width: 370%;
    font-size: 300%;
  }
  .title-regulament {
    width: 300%;
    font-size: 250%;
  }
  #regulament {
    width: 280%;
    font-size: 280%;
  }
  #form-bilhete {
    width: 300%;
    font-size: 300%;
  }
  #input-bilhete {
    font-size: 100%;
    border: 1px solid black;
  }
  #button-bilhete {
    width: 200px;
    font-size: 90%;
  }
  .title-regulament {
    width: 370%;
    font-size: 280%;
  }
  #regulament {
    width: 360%;
    font-size: 300%;
  }
  #form-bilhete {
    width: 300%;
    font-size: 300%;
  }
  #input-bilhete {
    font-size: 100%;
    border: 1px solid black;
  }
  #button-bilhete {
    width: 200px;
    font-size: 90%;
  }
}

@media only screen and (max-width: 346px){
  #header{
    width: 420vw !important;
  }
}