body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#header {
  width: 100%;
  display: inline-flex;
  background-color: #39C958;
}

h2, h3, h4 {
  color: aliceblue;
  font-size: 140% !important;
}

h2 {
  margin-bottom: 0px !important;
}

#futebol h4 {
  margin-bottom: 0px;
}

#sections {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#logo {
  width: 170px;
}

#lupa {
  width: 23px;
  margin-right: 5px;
}

#input-search {
  height: 100%;
  margin-right: 20px;
  padding-right: 50px;
}

#search {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border: 10px;
  padding-bottom: 12px;
  padding-top: 8px;
}

/* table, th, td {
  width: 1250px;
  margin: 20px;
  border: 1px solid black;
} */

.link {
  text-decoration:none;
}

#tablee {
  margin-top: 20px;
  background-color: #61946d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 250px;
  margin-left: 250px;
  border-radius: 10px;
  font-size: 80%;
  margin-bottom: 50px;
}

#head {
  display: flex;
  justify-content: space-between;
  height: 40px;
  align-items: center;
}

#apostas {
  margin: 0px;
  margin-left: 30px !important;
  color: aliceblue;
}

#futebol {
  margin-right: 30px !important;
  margin-bottom: 0px !important;
  color:aliceblue;
}

.jogo{
  display: flex;
  justify-content: space-between;
  background-color: #7fa588;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 8px;
  border-bottom: 2px solid black;
}

.primeiraParte {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.primeiraParte p {
  margin-bottom: 0px !important;
}

.dentroSegunda {
  display: flex;
  justify-content: space-between;
  width: 260px;
}

.dentroSegunda p, h3 {
  margin: 0px !important;
}

.terceiraParte {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 15px;
}

.blocos {
  background-color: #698870;
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
}

.blocos:hover {
  background-color: #819e88;
}

.final {
  background-color: #698870;
  background-color: #7fa588;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  border-radius: 10px;
}

h3 {
  margin: 5px;
}

p {
  margin: 2px;
  margin: 0px !important;
}

/* td {
  border-right: 1px solid rgb(211, 207, 207);
  border-left: 1px solid rgb(211, 207, 207);
  border-bottom: 1px solid rgb(211, 207, 207);
  padding-right: 50px;
  padding-left: 50px;
  text-align: center;
}

th {
  padding-top: 5px;
  border-right: 1px solid rgb(211, 207, 207);
  border-left: 1px solid rgb(211, 207, 207);
  padding-right: 50px;
  padding-left: 50px;
}

.regiao {
  background-color: rgb(95, 90, 90);
  color: aliceblue;
  text-align: center;
  padding: 5px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.camp {
  background-color: #39C958;
  color: aliceblue;
  text-align: center;
  padding: 5px;
  margin: 0px;
} */

#regulament {
  padding: 20px;
}

.title-regulament {
  text-align: center;
  margin-top: 20px !important;
  color: black !important;
}

#form-bilhete {
  text-align: center;
}

#input-bilhete {
  margin-left: 5px;
  margin-right: 5px;
  padding-right: 300px;
}

.final p {
  margin-right: 20px !important;
}

#pID {
  margin-right: 0px !important;
}

/* #mais {
  background-color: rgb(209, 245, 245);
} */